.transaction-list {
  margin-top: 30px;
}

.transaction-card {
  background: #1e293b;
  padding: 20px;
  border-radius: 14px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.income {
  color: #22c55e;
  font-weight: bold;
}

.expense {
  color: #ef4444;
  font-weight: bold;
}

.transaction-card button {
  background: crimson;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
}