.navbar {
  width: 100%;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111827;
}

.logo {
  font-size: 2rem;
  color: #38bdf8;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}