.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  padding: 18px 30px;
  border-radius: 16px;
  color: white;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.navbar h2 {
  font-size: 24px;
}

.profile img {
  border-radius: 50%;
}